.flex {
  display: flex; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-column {
  flex-direction: column;
  align-items: stretch; }

.flex-content-center {
  align-content: center; }

.flex-item-top {
  align-items: flex-start; }

.flex-item-center {
  align-items: center; }

.flex-item-end {
  align-items: flex-end; }

.flex-item-stretch {
  align-items: stretch; }

.flex-justify-end {
  justify-content: flex-end; }

.flex-justify-center {
  justify-content: center; }

.flex-item {
  flex: 1; }

.flex-col__1 {
  flex: 0 0 8.333333333333333%;
  max-width: 8.333333333333333%;
  width: 8.333333333333333%; }

.flex-col__2 {
  flex: 0 0 16.66666666666667%;
  max-width: 16.66666666666667%;
  width: 16.66666666666667%; }

.flex-col__3 {
  flex: 0 0 25%;
  max-width: 25%;
  width: 25%; }

.flex-col__4 {
  flex: 0 0 33.33333333333333%;
  max-width: 33.33333333333333%;
  width: 33.33333333333333%; }

.flex-col__5 {
  flex: 0 0 41.66666666666667%;
  max-width: 41.66666666666667%;
  width: 41.66666666666667%; }

.flex-col__6 {
  flex: 0 0 50%;
  max-width: 50%;
  width: 50%; }

.flex-col__7 {
  flex: 0 0 58.33333333333333%;
  max-width: 58.33333333333333%;
  width: 58.33333333333333%; }

.flex-col__8 {
  flex: 0 0 66.66666666666667%;
  max-width: 66.66666666666667%;
  width: 66.66666666666667%; }

.flex-col__9 {
  flex: 0 0 75%;
  max-width: 75%;
  width: 75%; }

.flex-col__10 {
  flex: 0 0 83.33333333333333%;
  max-width: 83.33333333333333%;
  width: 83.33333333333333%; }

.flex-col__11 {
  flex: 0 0 91.66666666666667%;
  max-width: 91.66666666666667%;
  width: 91.66666666666667%; }

.flex-col__12 {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 126px;
  z-index: 99;
  background-color: #181818; }
  .header-box {
    height: 126px; }
  .header-nav__item--text {
    display: block;
    padding: 10px;
    color: #fff;
    font-family: Proxima Nova;
    font-size: 17px; }
  .header-nav__item--text:hover {
    color: #ea5520; }
  .header-nav__item--active text {
    color: #ea5520; }
  .header-search {
    margin-left: 20px;
    color: #fff; }

a:hover, a:active {
  text-decoration: none;
  color: initial; }
