$mainColor: #ea5520;
@import "./components/default_flex.scss";
@import "./components/default_header.scss";
@import "./components/default_index.scss";
@import "./components/default_reset.scss";


a:hover,a:active{
	text-decoration:none;
	color:initial;
}