$mainColor: #ea5520;
$boxDistance: 40px;
@import "./components/mixin.scss";
@import "./components/default_flex.scss";
@import "./components/default_header.scss";
@import "./components/default_mobile.scss";
@import "./components/default_footer.scss";
@import "./components/default_index.scss";
@import "./components/default_solution.scss";
@import "./components/default_case.scss";
@import "./components/default_server.scss";
@import "./components/default_news.scss";
@import "./components/default_about.scss";
@import "./components/default_contact.scss";

body{
	color:#000;
	font-family: 'Proxima Nova';
}
a{
	color:#000;
}
a:hover,a:active{
	text-decoration:none;
	color:$mainColor;
}
.image-full{
	width:100%;
	height:100%;
	object-fit: cover;
}
.page-box{
	padding:$boxDistance 0;
}
@include md {
	.page-box{
		padding:40px 0;
	}
}
@include sm {
	.page-box{
		padding:30px 0;
	}
}
@include xs {
	.page-box{
		padding:30px 0;
	}
}
.text-wrap{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.margin-reset{
	margin:0 !important;
}
.margin-top-reset{
	margin-top:0 !important;
}
.margin-bottom-reset{
	margin-bottom:0 !important;
}
.margin-left-reset{
	margin-left:0 !important;
}
.margin-right-reset{
	margin-right:0 !important;
}
.padding-reset{
	padding:0 !important;
}
.padding-top-reset{
	padding-top:0 !important;
}
.padding-bottom-reset{
	padding-bottom:0 !important;
}
.padding-left-reset{
	padding-left:0 !important;
}
.padding-right-reset{
	padding-right:0 !important;
}
.padding-left5{
	padding-left: 5px;
}
.padding-right5{
	padding-left: 5px;
}

.section-title{
	font-size: 30px;
	line-height: 48px;
	color:$mainColor;
}
.section-photo{
	margin-top:40px;
}
.section-content{
	margin-top:40px;
	color:#332c2b;
	font-size: 20px;
	line-height: 40px;
}


.my-show{
    opacity: 1;
    visibility: inherit;
    transition: all 0.5s ease;
}

.my-hide{
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}


@include sm {
	.section-title{
		font-size: 24px;
		line-height: 1.4;
	}
	.section-photo{
		margin-top:20px;
	}
	.section-content{
		margin-top:20px;
		font-size: 18px;
		line-height: 1.4;
	}
}

.inline-block{
	display: inline-block;
}

.text-white{
	color:#fff;
}
.text-gray{
	color:#65696e
}
.text-mainColor{
	color:$mainColor;
}
.text-darkBlue{
	color:#185369;
}

.photo{
	&-item{
		&__box{
			position: relative;
			margin-bottom:10px;
			overflow: hidden;
			transition: all 0.5s ease;
			img{
				transition: all 0.5s ease;
			}
			&:hover{
				box-shadow: 0px 2px 5px #ccc;
				img{
					transform: scale(1.1);
				}
			}
		}
		img{
			width:100%;
		}
		&__content{
			font-size: 30px;
		}
		.top-left{
			position: absolute;
			top:30px;
			left:30px;
		}
		.top-right{
			position: absolute;
			top:30px;
			right:30px;
		}
		.bottom-left{
			position: absolute;
			bottom:30px;
			left:30px;
		}
		.bottom-right{
			position: absolute;
			bottom:30px;
			right:30px;
		}
	}
}

@include sm {
	.photo{
		&-item{
			&__content{
				font-size: 18px;
			}
			.top-left{
				top:15px;
				left:15px;
			}
			.top-right{
				top:15px;
				right:15px;
			}
			.bottom-left{
				bottom:15px;
				left:15px;
			}
			.bottom-right{
				bottom:15px;
				right:15px;
			}
		}
	}
}

@include xs {
	.photo{
		&-item{
			&__content{
				font-size: 14px;
			}
		}
	}
}

/*默认字体*/
body{
    font-family: ProximaNova,Arial,Sans-serif !important;
}

/*iconfont*/
.iconfont{
	vertical-align: middle;
}

.bg-white{
	background-color:#fff;
}