.flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-column{
  flex-direction: column;
  align-items:stretch;
}
.flex-content-center{
  align-content:center;
}
.flex-item-top{
  align-items: flex-start;
}
.flex-item-center{
  align-items: center;
}
.flex-item-end{
  align-items: flex-end;
}
.flex-item-stretch{
  align-items: stretch;
}
.flex-justify-end {
   justify-content: flex-end;
}
.flex-justify-center  {
   justify-content: center ;
}
.flex-item{
  flex:1;
}
.flex-col__1{
  flex: 0 0 8.333333333333333%;
  max-width: 8.333333333333333%;
  width: 8.333333333333333%;
}
.flex-col__2{
  flex: 0 0 16.66666666666667%;
  max-width: 16.66666666666667%;
  width: 16.66666666666667%;
}
.flex-col__3{
  flex: 0 0 25%;
  max-width: 25%;
  width: 25%;
}
.flex-col__4{
  flex: 0 0 33.33333333333333%;
  max-width: 33.33333333333333%;
  width: 33.33333333333333%;
}
.flex-col__5{
  flex: 0 0 41.66666666666667%;
  max-width: 41.66666666666667%;
  width: 41.66666666666667%;
}
.flex-col__6{
  flex: 0 0 50%;
  max-width: 50%;
  width: 50%;
}
.flex-col__7{
  flex: 0 0 58.33333333333333%;
  max-width: 58.33333333333333%;
  width: 58.33333333333333%;
}
.flex-col__8{
  flex: 0 0 66.66666666666667%;
  max-width: 66.66666666666667%;
  width: 66.66666666666667%;
}
.flex-col__9{
  flex: 0 0 75%;
  max-width: 75%;
  width: 75%;
}
.flex-col__10{
  flex: 0 0 83.33333333333333%;
  max-width: 83.33333333333333%;
  width: 83.33333333333333%;
}
.flex-col__11{
  flex: 0 0 91.66666666666667%;
  max-width: 91.66666666666667%;
  width: 91.66666666666667%;
}
.flex-col__12{
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}

@include md {
  .flex-col__1--md{
    flex: 0 0 8.333333333333333%;
    max-width: 8.333333333333333%;
    width: 8.333333333333333%;
  }
  .flex-col__2--md{
    flex: 0 0 16.66666666666667%;
    max-width: 16.66666666666667%;
    width: 16.66666666666667%;
  }
  .flex-col__3--md{
    flex: 0 0 25%;
    max-width: 25%;
    width: 25%;
  }
  .flex-col__4--md{
    flex: 0 0 33.33333333333333%;
    max-width: 33.33333333333333%;
    width: 33.33333333333333%;
  }
  .flex-col__5--md{
    flex: 0 0 41.66666666666667%;
    max-width: 41.66666666666667%;
    width: 41.66666666666667%;
  }
  .flex-col__6--md{
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
  }
  .flex-col__7--md{
    flex: 0 0 58.33333333333333%;
    max-width: 58.33333333333333%;
    width: 58.33333333333333%;
  }
  .flex-col__8--md{
    flex: 0 0 66.66666666666667%;
    max-width: 66.66666666666667%;
    width: 66.66666666666667%;
  }
  .flex-col__9--md{
    flex: 0 0 75%;
    max-width: 75%;
    width: 75%;
  }
  .flex-col__10--md{
    flex: 0 0 83.33333333333333%;
    max-width: 83.33333333333333%;
    width: 83.33333333333333%;
  }
  .flex-col__11--md{
    flex: 0 0 91.66666666666667%;
    max-width: 91.66666666666667%;
    width: 91.66666666666667%;
  }
  .flex-col__12--md{
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}
@include sm {
  .flex-col__1--sm{
    flex: 0 0 8.333333333333333%;
    max-width: 8.333333333333333%;
    width: 8.333333333333333%;
  }
  .flex-col__2--sm{
    flex: 0 0 16.66666666666667%;
    max-width: 16.66666666666667%;
    width: 16.66666666666667%;
  }
  .flex-col__3--sm{
    flex: 0 0 25%;
    max-width: 25%;
    width: 25%;
  }
  .flex-col__4--sm{
    flex: 0 0 33.33333333333333%;
    max-width: 33.33333333333333%;
    width: 33.33333333333333%;
  }
  .flex-col__5--sm{
    flex: 0 0 41.66666666666667%;
    max-width: 41.66666666666667%;
    width: 41.66666666666667%;
  }
  .flex-col__6--sm{
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
  }
  .flex-col__7--sm{
    flex: 0 0 58.33333333333333%;
    max-width: 58.33333333333333%;
    width: 58.33333333333333%;
  }
  .flex-col__8--sm{
    flex: 0 0 66.66666666666667%;
    max-width: 66.66666666666667%;
    width: 66.66666666666667%;
  }
  .flex-col__9--sm{
    flex: 0 0 75%;
    max-width: 75%;
    width: 75%;
  }
  .flex-col__10--sm{
    flex: 0 0 83.33333333333333%;
    max-width: 83.33333333333333%;
    width: 83.33333333333333%;
  }
  .flex-col__11--sm{
    flex: 0 0 91.66666666666667%;
    max-width: 91.66666666666667%;
    width: 91.66666666666667%;
  }
  .flex-col__12--sm{
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}
@include xs {
  .flex-col__1--xs{
    flex: 0 0 8.333333333333333%;
    max-width: 8.333333333333333%;
    width: 8.333333333333333%;
  }
  .flex-col__2--xs{
    flex: 0 0 16.66666666666667%;
    max-width: 16.66666666666667%;
    width: 16.66666666666667%;
  }
  .flex-col__3--xs{
    flex: 0 0 25%;
    max-width: 25%;
    width: 25%;
  }
  .flex-col__4--xs{
    flex: 0 0 33.33333333333333%;
    max-width: 33.33333333333333%;
    width: 33.33333333333333%;
  }
  .flex-col__5--xs{
    flex: 0 0 41.66666666666667%;
    max-width: 41.66666666666667%;
    width: 41.66666666666667%;
  }
  .flex-col__6--xs{
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
  }
  .flex-col__7--xs{
    flex: 0 0 58.33333333333333%;
    max-width: 58.33333333333333%;
    width: 58.33333333333333%;
  }
  .flex-col__8--xs{
    flex: 0 0 66.66666666666667%;
    max-width: 66.66666666666667%;
    width: 66.66666666666667%;
  }
  .flex-col__9--xs{
    flex: 0 0 75%;
    max-width: 75%;
    width: 75%;
  }
  .flex-col__10--xs{
    flex: 0 0 83.33333333333333%;
    max-width: 83.33333333333333%;
    width: 83.33333333333333%;
  }
  .flex-col__11--xs{
    flex: 0 0 91.66666666666667%;
    max-width: 91.66666666666667%;
    width: 91.66666666666667%;
  }
  .flex-col__12--xs{
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}


.flex-pd-lr{
  margin-right:-10px;
}
.flex-pd-lr>.flex-col__1,
.flex-pd-lr>.flex-col__2,
.flex-pd-lr>.flex-col__3,
.flex-pd-lr>.flex-col__4,
.flex-pd-lr>.flex-col__5,
.flex-pd-lr>.flex-col__6,
.flex-pd-lr>.flex-col__7,
.flex-pd-lr>.flex-col__8,
.flex-pd-lr>.flex-col__9,
.flex-pd-lr>.flex-col__10,
.flex-pd-lr>.flex-col__11,
.flex-pd-lr>.flex-col__12{padding-right:10px;}