.header{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 126px;
    z-index: 99;
    background-color:rgba(24,24,24,0.8);
    &-box{
        height: 126px;
    }
    &-nav{
        &__item{
            &--text{
                display: block;
                padding:10px;
                color:#fff;
                font-size: 17px;
            }
            &--text:hover{
                color:$mainColor;
            }
        }
        &__item--active{
            text{
                color:$mainColor;
            }    
        }
    }
    &-search{
        margin-left:20px;
        color:#fff;
    }
}
.header-zw{
    height:126px;
    background-color:#000;
}