.page-server{
    font-family: 'Proxima Nova';
    &__column{
        margin-top:80px;
        &--item{
            width:20%;
            &-photo{
                height: 64px;
                line-height: 64px;
            }
            &-text{
                margin-top:30px;
                color:$mainColor;
                font-size: 18px;
            }
        }
    }
    &__title{
        color: $mainColor;
        font-size: 30px;
    }
    &__content{
        margin-top: 40px;
        color: #696969;
        font-size: 20px;
        line-height: 40px;
    }
}
.server-title{
    color:#d0d0d0;
    font-size:66px;
    line-height: 85px;
    background-color:#e5e5e5;
    height: 300px;
    line-height: 450px;
    background-size: cover;
}
.server-title.maintenance-bg{
    color:#fff;
    background-image: url('../images/Maintenance_02.jpg');
}
.server-title.product-bg{
    color:#fff;
    background-image: url('../images/Customization-Service_02.jpg');
}
.server-title.downfile-bg{
    color:#fff;
    background-image: url('../images/Download-Center_02.jpg');
}
.product{
    font-family: 'Proxima Nova';
    &-section{
        &__title{
            color:$mainColor;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
        }
        &__item{
            padding:40px 0;
            overflow: hidden;
            &--left{
                float: left;
                width: 25%;
                padding-top:100px;
                color:$mainColor;
                font-size: 16px;
            }
            &--right{
                float:left;
                width: 75%;
            }
        }
        &__item:nth-child(even){
            background-color:#e8e8e8;
        }
    }
    .owl-nav{
        font-size: 24px;
        button{
            outline: none;
            position: absolute;
            top:50%;
            transform:translateY(-50%);
            width:30px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            color:#fff;
            // background-color:rgba(0,0,0,0.3) !important;
            border-radius: 50%;
            opacity: 0.6;
            &:hover{
                opacity: 1;
            }
            &.owl-prev{
                left:0;
                font-size:44px;
            }
            &.owl-next{
                right:0;
                font-size:44px;
            }
        }
    }
    &-item{
        &__thumbnail{
            height:130px;
            line-height:130px;
            img{
                margin:0 auto;
                width:auto !important;
                max-height: 130px;
            }
        }
        &__name{
            margin-top:50px;
            color:#949494;
            font-size: 17px;
        }
        &:hover{
            .product-item__name{
                color: $mainColor;
            }
        }
    }
}

.repair{
    font-family: 'Proxima Nova';
    &-section{
        &__filter{
            &--name{
                color:$mainColor;
                font-size: 18px;
            }
            &--select{
                margin-top:$boxDistance;
                width:100%;
                padding:10px 15px;
                color:#b1b1b1;
                border:1px solid #b1b1b1;
                outline: none;
            }
        }
        &__map{
            margin-top:40px;
        }
    }
}
.download-section__item--hd{
    padding:40px 0;
    color:$mainColor;
    font-size: 24px;
    background-color:#e5e5e5;
}
.download-section__item--box{
    padding:40px 0;
}
.downfile-item{
    padding:10px 20px;
    border-bottom:1px solid #8c8c8c;
}
.downfile-item__content{
    width:0;
}
.downfile-item__name{
    font-size:16px;
}
.downfile-item__intro{
    margin-top:5px;
    color:#999;
}
.guide{
    font-family: 'Proxima Nova';
    &-item{
        margin-bottom: $boxDistance;
        &__title{
            color:$mainColor;
            font-size: 30px;
        }
        &__content{
            margin-top:20px;
            p{
                margin-bottom:20px;
                color:#332c2b;
                font-size: 20px;
                line-height: 40px;
            }
            p:last-child{
                margin-bottom: 0;
            }
        }
        &__good{
            a{
                margin-right: 20px;
                padding:0 20px 0 60px;
                display: inline-block;
                color:#322c2b;
                border:1px solid #322c2b;
                border-radius: 5px;
                width:130px;
                height: 50px;
                line-height: 50px;
                color:#322c2b;
                font-size: 30px;
                text-align: center;
                background:no-repeat 10px center;
            }
            a:first-child{
                background-image: url('../images/4-4_03.png')
            }
            a:last-child{
                background-image: url('../images/4-4_03.png')
            }
        }
    }
    &-item:last-child{
        margin-bottom: 0;
    }
}

.after{
    font-family: 'Proxima Nova';
    &-item{
        margin-bottom: $boxDistance;
        &__title{
            color:$mainColor;
            font-size: 30px;
        }
        &__content{
            margin-top:20px;
            p{
                margin-bottom:20px;
                color:#332c2b;
                font-size: 20px;
                line-height: 40px;
            }
            p:last-child{
                margin-bottom: 0;
            }
        }
    }
    &-item:last-child{
        margin-bottom: 0;
    }
    &-process{
        position: relative;
        &::before{
            content:'';
            position: absolute;
            top:50%;
            left:0;
            width:100%;
            height:1px;
            border-bottom:4px dotted  #dadada;
        }
        margin-top:$boxDistance;
        overflow: hidden;
        &__item{
            position: relative;
            float: left;
            width:25%;
            &--box{
                margin:0 auto;
                width:170px;
                padding:25px 0;
                color:$mainColor;
                border:2px solid #dadada;
                border-radius: 10px;
                text-align: center;
                background-color:#fff;
            }
            &--number{
                font-size: 30px;
            }
            &--text{
                margin-top: 20px;
                font-size: 20px;
            }
        }
    }
}


@include sm {
    .server-title{
        padding:40px 0 10px;
        color:#d0d0d0;
        font-size:24px;
        line-height: 1.4;
        background-color:#e5e5e5;
    }
    .page-server{
        &__column{
            margin-top:50px;
            &--item{
                &-photo{
                    img{
                        height:80%;
                    }
                }
                &-text{
                    margin-top:20px;
                    font-size: 14px;
                }
            }
        }
    }

    .product{
        &-section{
            &__title{
                text-align: left;
            }
            &__item{
                padding:30px 0;
                &--left,&--right{
                    width:100%;
                }
                &--left{
                    padding:0 0 20px;
                    margin-bottom:20px;
                    border-bottom:1px solid #b0b0b0;
                }
            }
        }
        &-item{
            &__name{
                margin-top:20px;
            }
        }
    }
    .repair{
        &-section{
            &__filter{
                &--name{
                    font-size: 16px;
                    height: 2em;;
                }
                &--select{
                    margin-top:30px;
                }
            }
            &__map{
                margin-top:30px;
            }
        }
    }
    .download{
        font-family: 'Proxima Nova';
        &-section{
            &__item{
                margin-bottom:40px;
                &--title{
                    font-size: 24px;
                }
                &--wrap{
                    margin-top:40px;

                }
            }
        }
        &-item{
            margin-bottom:30px;
            display: block;
            text-align: center;
            &__photo{
                width:80px;
            }
            &__name{
                margin-top:15px;
                font-size: 14px;
            }
        }
    }
    .guide{
        &-item{
            margin-bottom: 30px;
            &__title{
                font-size: 24px;
            }
            &__content{
                margin-top:10px;
                p{
                    margin-bottom:10px;
                    font-size: 16px;
                    line-height: 1.4;
                }
            }
        }
    }

    .after{
        &-item{
            margin-bottom:60px;
        }

        &-process{
            position: relative;
            &::before{
                display: none;
            }
            margin-top:30px;
            &__item{
                width:50%;
                margin-bottom:30px;
                &--box{
                }
                &--number{
                    font-size: 30px;
                }
                &--text{
                    margin-top: 20px;
                    font-size: 20px;
                }
            }
            &__item:last-child,&__item:nth-last-child(2){
                margin-bottom:0;
            }
        }
    }
}

@include xs{
    .after{
        &-process{
            &__item{
                width:50%;
                margin-bottom:30px;
                &--box{
                    width: 120px;
                }
                &--number{
                    font-size: 24px;
                }
                &--text{
                    margin-top: 15px;
                    font-size: 16px;
                }
            }
        }
    }
}

.down-sort{
    a{
        color: #8d8d8d;
        font-size: 18px;
    }
}