.solution{
    .page-type{
        margin-top:30px;
        background-color:#3c3d3d;
        &__item{
            padding:40px;
            border-right:3px solid #fff;
            &--photo{
                img{
                    height:85px;
                }
            }
            &--title{
                margin-top:60px;
                font-size: 20px;
                color:#fff;
                line-height: 30px;
                font-family: 'Myriad Pro';
            }
        }
        &__item:first-child{
            border-left:3px solid #fff;
        }
    }
    .page-overview{
        padding:$boxDistance 0;
        &__title{
            color:$mainColor;
            font-size: 50px;
            font-family: 'Myriad Pro';
        }
        &__content{
            margin-top:50px;
            color:#332c2b;
            font-size: 20px;
            line-height: 40px;
        }
        &__ft{
            margin-top:50px;
            &--item{
                padding:0 50px;
                &-photo{
                    height: 147px;
                    line-height: 147px;
                }
                &-text{
                    margin-top:25px;
                    color:$mainColor;
                    font-size: 22px;
                }
            }
        }
    }
    .page-solution{
        margin-bottom:$boxDistance;
        &__title{
            color:#898989;
            font-size: 20px;
            font-family: 'Myriad Pro';
        }
        &__item{
            margin-top:40px;
            &--thumbnail{
                width: 450px;
                height: 300px;
            }
            &--info{
                padding:0 60px;
                font-size: 20px;
                font-family: 'Myriad Pro';
                &-title{
                    color:$mainColor;
                }
                &-content{
                    margin-top:40px;
                    color:#575352;
                    line-height: 35px;
                    letter-spacing: -1px;
                }
                &-href{
                    display: inline-block;
                    vertical-align: middle;
                    margin-top:38px;
                    padding:15px 25px;
                    color:#fff;
                    background-color:$mainColor;
                    border-radius: 25px;
                }
            }
        }
        &__item:nth-child(even){
            background-color:#e8e8e8;
        }
    }
}