body{
    padding-top:72px;
}
.header-logo{
    width:150px;
}
.header{
    position: fixed;
    font-family: ProximaNova,Arial,Sans-serif;
    top:0;
    left:0;
    width: 100%;
    height: 72px;
    z-index: 99;
    background-color:rgba(24,24,24,0.95);
    &-box{
        height: 72px;
    }
    &-middle{
        position: relative;
    }
    &-nav{
        &__item{
            position: relative;
            &--text{
                display: block;
                padding:0 30px;
                height: 72px;
                line-height: 72px;
                color:#fff;
                font-size: 16px;
            }
            .level2-nav{
                position: absolute;
                top:100%;
                left:0;
                padding:20px;
                background-color:rgba(32, 33, 33, 0.8);
                opacity: 0;
                visibility: hidden;
                /*transition: all 0.5s ease;*/
                &__item{
                    margin-bottom:10px;
                    a{
                        display: block;
                        padding:5px 10px;
                        color:#fff;
                        font-size: 14px;
                        white-space: nowrap;
                    }
                }
                &__item:hover>a,
                &__item.active>a{
                    color:$mainColor;
                }
                &__item:last-child{
                    margin-bottom:0;
                }
            }
        }
        &__item:hover{
            .level2-nav{
                opacity: 1;
                visibility: inherit;
            }
        }
        &__item:hover>a,
        &__item.active>a{
            color:$mainColor;
            background-color:#202121;
        }
        &__item--active{
            text{
                color:$mainColor;
            }
        }
    }
    &-search{
        margin-left:20px;
        color:#fff;
        cursor: pointer;
    }
    .search{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        background-color:#505050;
        padding:8px;
        border-radius: 5px;
      
        &-icon{
            margin-right:5px;
            padding:0 10px;
        }
        &-middle{
            input{
                padding:6px 10px;
                width:450px;
                border:none;
                outline: none;
                color:#969797;
                font-size: 16px;
                background-color:transparent;
                &::-webkit-input-placeholder{
                    color:#969797;
                }
                &::-moz-placeholder{   /* Mozilla Firefox 19+ */
                    color:#969797;
                }
                &:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
                    color:#969797;
                }
                &:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
                    color:#969797;
                }
            }
        }
        &-close{
            position: relative;
            width: 20px;
            height: 20px;
            cursor: pointer;
            &::before,&::after{
                content: "";
                position: absolute;
                top:50%;
                left:50%;
                width:1px;
                height: 100%;
                background-color: #969797;
                transform: translate(-50%, -50%) rotate(45deg);
            }
            &::after{
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}
.header-zw{
    display: none;
    height:72px;
    background-color:#000;
}

@include md {
	.header,
	.header-zw{
        display: none;
    }
    body{
        padding-top:0;
    }
}


// .banner{
//     height: 830px;
//     overflow: hidden;
//     background-position: center center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
.advertisement{
    &-item{
        position: relative;
        height: 950px;
        overflow: hidden;
        img{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            height: 100%;
            max-width: initial;
            width:auto !important;
        }
        &__content{
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            h4{
                font-size: 32px;
            }
            div{
                margin-top:20px;
                font-size: 18px;
            }
        }
    }
}
 

@include md {
    .advertisement{
        &-item{
            height: auto;
            img{
                position: relative;
                top:0%;
                left:0%;
                transform: translate(0%, 0%);
                height: auto;
                max-width: 100%;
                width:100% !important;
            }
            &__content{
                h4{
                    font-size: 24px;
                }
                div{
                    font-size: 14px;
                }
            }
        }
    }
}