.solution{
    .page-type{
        margin-top:30px;
        background-color:#3c3d3d;
        &__item{
            padding:40px;
            border-right:3px solid #fff;
            &--photo{
                img{
                    height:85px;
                }
            }
            &--title{
                margin-top:60px;
                font-size: 20px;
                color:#fff;
                line-height: 30px;
                font-family: 'Myriad Pro';
            }
        }
        &__item:first-child{
            border-left:3px solid #fff;
        }
    }
    .page-overview{
        padding:$boxDistance 0;
        &__title{
            color:$mainColor;
            font-size: 50px;
            font-family: 'Myriad Pro';
        }
        &__content{
            margin-top:50px;
            color:#332c2b;
            font-size: 20px;
            line-height: 40px;
        }
        &__ft{
            margin-top:50px;
            &--item{
                padding:0 50px;
                &-photo{
                    height: 147px;
                    line-height: 147px;
                }
                &-text{
                    margin-top:25px;
                    color:$mainColor;
                    font-size: 22px;
                }
            }
        }
    }
    .page-solution{
        margin-bottom:$boxDistance;
        &__title{
            color:#898989;
            font-size: 20px;
            font-family: 'Myriad Pro';
        }
        &__item{
            margin-top:40px;
            &--thumbnail{
                width: 450px;
                height: 300px;
            }
            &--info{
                padding:0 60px;
                font-size: 20px;
                font-family: 'Myriad Pro';
                &-title{
                    color:$mainColor;
                }
                &-content{
                    margin-top:40px;
                    color:#575352;
                    line-height: 35px;
                    letter-spacing: -1px;
                }
                &-href{
                    display: inline-block;
                    vertical-align: middle;
                    margin-top:38px;
                    padding:15px 25px;
                    color:#fff;
                    background-color:$mainColor;
                    border-radius: 25px;
                }
            }
        }
        &__item:nth-child(even){
            background-color:#e8e8e8;
        }
    }
    .page-sercure2{
        font-family: 'Proxima Nova';
        &__box{
            padding:0 50px;
            p{
                margin-bottom:70px;
                color:#696969;
                font-size: 20px;
                line-height: 40px;
            }
            p:last-child{
                margin-bottom:0;
            }
        }
        &__photo{
            margin-top:$boxDistance;
            &--item{
                margin-bottom:20px;
                img{
                    width:100%;
                }
            }
            &--item:last-child{
                margin-bottom:0px;
            }
        }
    }
    .page-secure3{
        font-family: 'Proxima Nova';
        &__hd{
            padding:$boxDistance 0 60px;
            color:#c9caca;
            background-color:#3c3d3d;
            &--title{
                font-size: 50px;
                line-height: 1;
            }
            &--content{
                margin-top:60px;
                font-size: 20px;
                line-height: 40px;
            }
        }
        &__bd{
            &--image{
                img{
                    width:100%;
                }
            }
            &--content{
                margin:$boxDistance 0;
                color:#221815;
                font-size: 20px;
                line-height: 40px;
            }
            &--wrap{
                margin:0 -7.5px;
                overflow: hidden;
            }
            &--photo{
                width:50%;
                float: left;
                padding:0 7.5px;
                height: 348px;
                overflow: hidden;
            }
            &--title{
                margin-top: $boxDistance;
                color:$mainColor;
                font-size: 40px;
                line-height: 65px;
            }
        }
        &__section{
            &--left{
                padding-left:$boxDistance;
            }
            &--title{
                color:$mainColor;
                font-size: 38px;
                line-height: 0.9;
            }
            &--smail{
                margin-top:$boxDistance;
                color:#3c3d3d;
                font-size: 34px;
            }
            &--function{
                margin-top: 60px;
                color:$mainColor;
                font-size: 34px;
                font-weight: bold;
            }
            ul{
                margin-top:30px;
                li{
                    position: relative;
                    margin-bottom: 10px;
                    padding-left:30px;
                    color:$mainColor;
                    font-size: 20px;
                    &::before{
                        content:'';
                        position: absolute;
                        top:5px;
                        left:0;
                        width:10px;
                        height:10px;
                        background-color:$mainColor;
                        transform: rotate(45deg);
                    }
                }
                li:last-child{
                    margin-bottom:0;
                }
            }
        }
        &__section.bg1{
            background-image: url('../images/secure-bg1.png');
            background-repeat:no-repeat;
            background-position: right center;
            background-size: cover;
        }
        &__section:nth-child(odd){
            background-color:#cdcdcd;
        }
    }
    .page-smart2{
        font-family: 'Proxima Nova';
        &__section{
            &--title{
                color:$mainColor;
                font-size: 50px;
            }
            &--content{
                margin-top:$boxDistance;
                p{
                    margin-bottom:60px;
                    color:#3c3d3d;
                    font-size: 20px;
                    line-height: 40px;
                }
                p:last-child{
                    margin-bottom:0px;
                }
            }
        }
        &__guide{
            &--item{
                &-box{
                    height: 75px;
                    line-height: 75px;
                    img{
                        max-height: 100%;
                    }
                }
                &-content{
                    margin-top:30px;
                    color:$mainColor;
                    font-size: 22px;
                }
            }
            .inline-block{
                padding:0 50px;
                .page-smart2__guide--item-content{
                    color:#332c2b;
                    font-size: 14px;
                }
            }
            &--xs{
                position: relative;
                height: 140px;
                &::before,&::after, span{
                    content:'';
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                    width:2px;
                    height:2px;
                    background-color:#f5dabb;
                }
                &::before{
                    width:65px;
                }
                &::after{
                    height:65px;
                }
                span{
                    width:15px;
                    height: 15px;
                    background-color:#fff;
                    z-index: 2;
                }
            }
        }
        &__photo{
            margin:0 -5px;
            overflow: hidden;
            &--item{
                margin-bottom:10px;
                float: left;
                padding:0 5px;
                width:100%;
                img{
                    width:100%;
                }
            }
            .smailPhoto{
                width: 36.2%;
            }
            .mediumPhoto{
                width:50%;
            }
            .bigPhoto{
                width:63.8%;
            }
        }
    }
    .page-election2{
        &__photo{
            overflow: hidden;
            &--left{
                margin-right:10px;
                .photo-item{
                    width: 389px;
                }
            }
            &--right{
                .photo-item:first-child{
                    margin-right: 10px;
                    width: 324px;
                }
            }
        }
    }
}