.mobile-hd{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 50px;
    z-index: 999;
    padding:0 20px;
    background-color: #fff;
    &__logo{
        height:24px;
        img{
            max-height:100%;
        }
    }
    &__btn{
        position: relative;
        width:30px;
        height: 24px;
        cursor: pointer;
        span{
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50% ,-50%);
            width:100%;
            height:3px;
            background-color:#595758;
            transition: all 0.5s ease;
        }
        span:first-child{
            margin-top:-10px;
        }
        span:last-child{
            margin-top:10px;
        }
    }
    &__btn--active{
        span:first-child{
            margin-top:0;
            transform: translate(-50% ,-50%) rotate(45deg);
        }
        span:nth-child(2){
            opacity: 0;
        }
        span:last-child{
            margin-top:0;
            transform: translate(-50% ,-50%) rotate(-45deg);
        }
    }
}

.mobile-hd__zw{
    height: 50px;
}

.mobile-nav{
    position: fixed;
    top:0;
    left:0;
    z-index: 998;
    width:100vw;
    height: 100vh;
    padding-top:50px;
    background-color:#fff;
    font-family: 'Proxima Nova';
    overflow-y: auto;
    &__item{
        border-top:1px solid #c8c8c8;
        a{
            padding:8px 40px;
            display: block;
        }
        &--text{
            position: relative;
            color:#595758;
            font-size: 18px;
            span{
                width:34px;
                height: 34px;
                position: absolute;
                top:0%;
                right:20px;
                &::after{
                    content:'';
                    position: absolute;
                    top:50%;
                    right:50%;
                    width:10px;
                    height:10px;
                    transform: translateY(-50%) rotate(45deg);
                    transition: all 0.5s ease;
                    border-top:2px solid #211813;
                    border-right:2px solid #211813;
                }
            }
        }
        .level2-nav{
            background-color:#d2d2d2;
            &__item{
                a{
                    color:#666464;
                }
                a:hover{
                    color:$mainColor;
                }
            }
            &__item.active{
                a{
                    color:$mainColor;
                }
            }
        }
    }
    .active{
        .mobile-nav__item--text span::after{
                transform: translateY(-50%) rotate(135deg);
        }
        .level2-nav{
            display: block;
        }
    }
}