.solution{
    .page-type{
        margin-top:30px;
        background-color:#3c3d3d;
        &__item{
            padding:40px;
            border-right:3px solid #fff;
            &--photo{
                img{
                    height:85px;
                }
            }
            &--title{
                margin-top:40px;
                font-size: 20px;
                color:#fff;
                line-height: 30px;
                font-family: 'Myriad Pro';
            }
        }
        &__item:first-child{
            border-left:3px solid #fff;
        }
    }
    .page-overview{
        &__title{
            color:$mainColor;
            font-size: 50px;
            font-family: 'Myriad Pro';
        }
        &__content{
            margin-top:50px;
            color:#332c2b;
            font-size: 20px;
            line-height: 40px;
        }
        &__ft{
            margin-top:50px;
            &--item{
                padding:0 50px;
                &-photo{
                    height: 147px;
                    line-height: 147px;
                }
                &-text{
                    margin-top:25px;
                    color:$mainColor;
                    font-size: 22px;
                }
            }
        }
    }
    .page-solution{
        &__title{
            color:#898989;
            font-size: 20px;
            font-family: 'Myriad Pro';
        }
        &__item{
            margin-top:40px;
            &--thumbnail{
                width: 450px;
                height: 300px;
            }
            &--info{
                padding:0 60px;
                font-size: 20px;
                font-family: 'Myriad Pro';
                &-title{
                    color:$mainColor;
                }
                &-content{
                    margin-top:40px;
                    color:#575352;
                    line-height: 35px;
                    letter-spacing: -1px;
                }
                &-href{
                    display: inline-block;
                    vertical-align: middle;
                    margin-top:30px;
                    padding:10px 25px;
                    color:#fff;
                    font-size: 16px;
                    background-color:$mainColor;
                    border-radius: 25px;
                }
            }
        }
        &__item:nth-child(even){
            background-color:#e8e8e8;
        }
    }
    .page-sercure2{
        font-family: 'Proxima Nova';
        &__box{
            padding:0 50px;
            p{
                margin-bottom:70px;
                color:#696969;
                font-size: 20px;
                line-height: 40px;
            }
            p:last-child{
                margin-bottom:0;
            }
        }
        &__photo{
            margin-top:$boxDistance;
            &--item{
                margin-bottom:20px;
                img{
                    width:100%;
                }
            }
            &--item:last-child{
                margin-bottom:0px;
            }
        }
    }
    .page-secure3{
        font-family: 'Proxima Nova';
        &__hd{
            padding:$boxDistance 0 60px;
            color:#c9caca;
            background-color:#3c3d3d;
            &--title{
                font-size: 50px;
                line-height: 1;
            }
            &--content{
                margin-top:60px;
                font-size: 20px;
                line-height: 40px;
            }
        }
        &__bd{
            &--image{
                img{
                    width:100%;
                }
            }
            &--content{
                margin:$boxDistance 0;
                color:#221815;
                font-size: 20px;
                line-height: 40px;
            }
            &--wrap{
                margin:0 -7.5px;
                overflow: hidden;
            }
            &--photo{
                width:50%;
                float: left;
                padding:0 7.5px;
                height: 348px;
                overflow: hidden;
            }
            &--title{
                margin-top: $boxDistance;
                color:$mainColor;
                font-size: 40px;
                line-height: 65px;
            }
        }
        &__section{
            &--left{
                padding-left:$boxDistance;
            }
            &--title{
                color:$mainColor;
                font-size: 38px;
                line-height: 0.9;
            }
            &--smail{
                margin-top:$boxDistance;
                color:#3c3d3d;
                font-size: 34px;
            }
            &--function{
                margin-top: 60px;
                color:$mainColor;
                font-size: 34px;
                font-weight: bold;
            }
            ul{
                margin-top:30px;
                li{
                    position: relative;
                    margin-bottom: 10px;
                    padding-left:30px;
                    color:$mainColor;
                    font-size: 20px;
                    &::before{
                        content:'';
                        position: absolute;
                        top:5px;
                        left:0;
                        width:10px;
                        height:10px;
                        background-color:$mainColor;
                        transform: rotate(45deg);
                    }
                }
                li:last-child{
                    margin-bottom:0;
                }
            }
        }
        &__section.bg1{
            background-image: url('../images/secure-bg1.png');
            background-repeat:no-repeat;
            background-position: right center;
            background-size: cover;
        }
        &__section:nth-child(odd){
            background-color:#cdcdcd;
        }
    }
    .page-smart2{
        font-family: 'Proxima Nova';
        &__guide{
            &--item{
                &-box{
                    height: 75px;
                    line-height: 75px;
                    img{
                        max-height: 100%;
                    }
                }
                &-content{
                    margin-top:30px;
                    color:$mainColor;
                    font-size: 22px;
                }
            }
            .inline-block{
                padding:0 50px;
                .page-smart2__guide--item-content{
                    color:#332c2b;
                    font-size: 14px;
                }
            }
            &--xs{
                position: relative;
                height: 140px;
                &::before,&::after, span{
                    content:'';
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                    width:2px;
                    height:2px;
                    background-color:#f5dabb;
                }
                &::before{
                    width:65px;
                }
                &::after{
                    height:65px;
                }
                span{
                    width:15px;
                    height: 15px;
                    background-color:#fff;
                    z-index: 2;
                }
            }
        }
        &__photo{
            margin-right: -10px;
            overflow: hidden;
            &--item{
                padding-right:10px;
                float: left;
                width:100%;
                img{
                    width:100%;
                }
            }
            .smailPhoto{
                width: 36.2%;
            }
            .mediumPhoto{
                width:50%;
            }
            .bigPhoto{
                width:63.8%;
            }
        }
    }
    .page-election2{
        &__photo{
            overflow: hidden;
            &--left{
                margin-right:10px;
                .photo-item{
                    width: 389px;
                }
            }
            &--right{
                .photo-item:first-child{
                    margin-right: 10px;
                    width: 324px;
                }
            }
        }
    }
}

@include md{
    .solution{
        .page-election2{
            &__photo{
                &--left{
                    .photo-item{
                        width: 319px;
                    }
                }
                &--right{
                    .photo-item:first-child{
                        width: 267px;
                    }
                }
            }
        }
    }
}

@include sm {
    .solution{
        .page-type{
            margin-top:0;
            .container{
                padding:0;
                width:100%;
            }
            &__item{
                padding:20px;
                border-top:6px solid #fff;
                &--photo{
                    img{
                        height:75px;
                    }
                }
                &--title{
                    margin-top:20px;
                    font-size: 16px;
                    line-height: 1.4;
                }
            }
            &__item:nth-child(odd){
                border-left:0;
                border-right:3px solid #fff;
            }
            &__item:nth-child(even){
                border-left:3px solid #fff;
                border-right:0;
            }
        }
        .page-overview{
            &__title{
                font-size: 36px;
            }
            &__content{
                margin-top:20px;
                font-size: 18px;
                line-height: 1.4em;
            }
            &__ft{
                margin-top:40px;
                &--item{
                    padding:0 20px;
                    &-photo{
                        height: 100px;
                        line-height: 100px;
                        img{
                            max-height: 100%;
                        }
                    }
                    &-text{
                        margin-top:20px;
                        font-size: 16px;
                    }
                }
            }
        }
        .page-solution{
            margin-top:$boxDistance;
            .container{
                width:100%;
                padding:0;
            }
            &__title{
                margin-bottom:30px;
                font-size: 36px;
            }
            &__item{
                margin-top:0;
                &--thumbnail{
                    width: 45%;
                    height: auto;
                    img{
                        height: auto;
                    }
                }
                &--info{
                    padding:0 30px;
                    &-title{
                        font-size: 18px;
                    }
                    &-content{
                        margin-top:20px;
                        font-size: 16px;
                        line-height: 1.4;
                        height: 4.2em;
                        overflow: hidden;
                    }
                    &-href{
                        margin-top:20px;
                        padding:10px 20px;
                        font-size: 14px;
                    }
                }
            }
        }
        .page-sercure2{
            &__box{
                padding:0;
                p{
                    margin-bottom:20px;
                    font-size: 16px;
                    line-height: 1.4;
                }
                p:last-child{
                    margin-bottom:0;
                }
            }
            &__photo{
                margin-top:40px;
                &--item{
                    margin-bottom:20px;
                    img{
                        width:100%;
                    }
                }
                &--item:last-child{
                    margin-bottom:0px;
                }
            }
        }
        .page-secure3{
            &__hd{
                padding:40px 0;
                background-color:#fff;
                &--title{
                    font-size: 36px;
                    color:$mainColor;
                }
                &--content{
                    margin-top:30px;
                    font-size: 18px;
                    line-height: 1.4;
                    color:#221816;
                }
            }
            &__bd{
                &--content{
                    margin:30px 0;
                    font-size: 18px;
                    line-height: 1.4;
                }
                &--title{
                    margin-top: 40px;
                    font-size: 40px;
                }
            }
            &__section{
                &--left{
                    padding-left:0;
                }
                &--title{
                    font-size: 36px;
                }
                &--smail{
                    margin-top:20px;
                    font-size: 24px;
                }
                &--function{
                    margin-top: 20px;
                    font-size: 20px;
                }
                ul{
                    margin-top:20px;
                    li{
                        padding-left:25px;
                        font-size: 20px;
                        &::before{
                            top:5px;
                            width:10px;
                            height:10px;
                        }
                    }
                }
            }
            &__section:nth-child(odd){
                img{
                    margin-top:20px;
                }
            }
        }
        .page-smart2{
            &__guide{
                &--item{
                    &-box{
                        height: 50px;
                        line-height: 50px;
                        img{
                            max-height: 100%;
                        }
                    }
                    &-content{
                        margin-top:15px;
                        font-size: 16px;
                    }
                }
                .inline-block{
                    padding:0 20px;
                }
                &--xs{
                    height: 60px;
                    &::before{
                        width:30px;
                    }
                    &::after{
                        height:30px;
                    }
                    span{
                        width:5px;
                        height: 5px;
                    }
                }
            }
        }
        .page-election2{
            &__photo{
                .photo-item{
                    overflow: hidden;
                    img{
                        object-fit: cover;
                        height: 200px;
                    }
                }
                &--left{
                    margin-right: 0;
                    .photo-item{
                        width: 100%;
                    }
                }
                &--right{
                    .photo-item:first-child{
                        margin-right: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@include xs {
    .solution{
        .page-overview{
            &__title{
                font-size: 28px;
            }
        }
        .page-solution{
            margin-top:30px;
            &__item{
                &--thumbnail{
                    width: 50%;
                }
                &--info{
                    padding:0 20px;
                    &-title{
                        font-size: 16px;
                    }
                    &-content{
                        display: none;
                    }
                    &-href{
                        margin-top:10px;
                        padding:10px 20px;
                        font-size: 12px;
                    }
                }
            }
        }
        .page-secure3{
            &__hd{
                padding-bottom:0;
            }
            &__section{
                &--title{
                    font-size: 24px;
                }
                &--smail{
                    font-size: 18px;
                }
                &--function{
                    font-size: 16px;
                }
                ul{
                    margin-top:20px;
                    li{
                        padding-left:15px;
                        font-size: 16px;
                        &::before{
                            top:4px;
                            width:8px;
                            height:8px;
                        }
                    }
                }
            }
        }
    }
}